
.navbar{
  /* background-color: rgb(87, 223, 52) */

}

.dropdown-menu a{
  color: orange;
}
.dropdown-menu a:hover{
  color: white;
}

#category-1{
  background-color: rgb(245, 204, 235);
}
#category-2{
  background-color:rgb(243, 245, 144);
}
#category-3{
  background-color:rgb(173, 244, 94)
}
#category-4{
  background-color:rgb(135, 247, 234);
}

.form-inline .btn{
  color:white;
}

/* .nav-right-links{
  background-color: white;
  color: rgba(0,0,0,.5);
  border: white;
}
.nav-right-links:hover{
  background-color: white;
  color: rgba(0,0,0,.7);
} */


.btn-space{
  margin-right:0.5rem;
}

.cart-icon{
  display: inline-block;
  background-image:url("cart-icon.png");
}
