* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}


.entireBody{
  background-color: white;
  font-family: 'Snowburst One', cursive;
  font-weight: bolder;
}

.navbar{
  /* background-color: rgb(87, 223, 52) */

}

.a{
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}

.happy-kids{
  max-height: 7vh;
}

.dropdown-menu a{
  color: orange;
}
.dropdown-menu a:hover{
  color: white;
}

#category-1{
  background-color: rgb(245, 204, 235);
}
#category-2{
  background-color:rgb(243, 245, 144);
}
#category-3{
  background-color:rgb(173, 244, 94)
}
#category-4{
  background-color:rgb(135, 247, 234);
}

.body-footer{
  text-align: center;
}
.happykids{
  width:80vw;
}

.btn{
  color:white;
  font-weight: 600;
  border-radius: .75rem;
}

.btn:hover{
  color:white;
}


.errorMessage{
  color:red;
}
/* .nav-right-links{
  background-color: white;
  color: rgba(0,0,0,.5);
  border: white;
}
.nav-right-links:hover{
  background-color: white;
  color: rgba(0,0,0,.7);
} */


.btn-space{
  margin-right:0.5rem;
}

.cart-icon-img{
  display: inline-block;
  /* background-image: url('/public/images/cart-icon.png'); */
  background-size: cover;
  /* padding: .375rem .75rem; */
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s;
  max-width: 2.5rem;
}


.test{
  width:100vw;
  /* background-color: var(--indigo); */
}

#out-of-stock{
  color:red;
}

#add-to-cart{
  background: var(--pink);
  border-color: var(--pink);
  border-radius: 20px;
  padding: .375rem 3rem;
  color: white;
  font-weight: 600;
  margin: 1rem auto;
  outline: none;
}

#add-to-cart:disabled{
  background-color: lightgrey;
  border-color:lightgrey;
}

#pay-by-card, #checkout{
  background: var(--teal);
  border-color: var(--teal);
  border-radius: 20px;
  padding: .375rem 3rem;
}

.confirmorder-title{
  font-weight: 600;
  color: yellowgreen;
  margin: 0 auto 1rem;
}

.view-your-cart{
  color: var(--teal);
  text-decoration: none;
}

.view-your-cart:hover{
  color: var(--teal);
  text-decoration: none;
}

.cart-label, .show-success-mesage{
  color: var(--orange);
}

.show-success-mesage:hover{
  color: var(--teal);
}


.cart-thumbnail{
  max-width: 10vw;
}

.no-items-in-cart{
  text-align: center;
  font-size: 1.75rem;
  color: grey;
  padding: 1rem 0;
}

.page-not-found{
  text-align: center;
  color: grey;
  font-size: 1.75rem;
}


td{
  color:var(--gray);
}

.trash{
  max-height: 7vh;
}

.trash:hover{
  cursor: pointer;
}

.update-quantity{
  padding: .2rem .6rem;
  color:white;
  text-decoration: none;
  background-color: var(--pink);
  border:none;
  border-radius: 20px;
}



.update-quantity:disabled{
  padding: .1rem .6rem;
  color: #fff;
  background-color: var(--pink);
  opacity: .65;
}

.back-to-cart{
  background-color: transparent;
  color: yellowgreen;
  font-weight: 600;
  outline: none;
  border: none;
  padding: 0 .5rem;
}

.back-to-cart:hover{
  background-color: yellowgreen;
  color: white;
  outline: none;
  border: 1px solid yellowgreen;
  border-radius: 2rem;
}

.quantity-update{
  display: inline-block;
}

.change-quantity{
  vertical-align: bottom;
}

.justify-content-between{
  padding:4vh 2vw;
}

.payment-form{
  text-align: center;
}

.payment-form-title{
  color: yellowgreen;
  font-weight: 600;
}

.stripe-form{
  margin: .5rem auto;
  border-radius: 2em;
  /* height: 100px; */
  padding: 2em;
  border: 3px dashed lightgoldenrodyellow;
  /* margin-top: 10px; */
  /* margin-bottom: 30px; */
  background-color: rgba(249, 165, 188, 0.7);
  min-width: 20em;
  max-width: 40em;
}

.submit-button{
  margin: .5rem auto;
  border-radius: 2em;
  padding: 1em 2em;
  border: 3px dashed lightgoldenrodyellow;
  background-color: rgba(249, 165, 188, 0.7);
  min-width: 19em;
  /* margin: auto; */
  /* display: inline-block; */
  color:rgb(136, 133, 133);
  font-weight: 800;
  outline: none !important;
}



.hint-button{
  border-radius: 2em;
  padding: 1em 2em;
  border: 3px dashed lightgoldenrodyellow;
  background-color: rgba(249, 165, 188, 0.7);
  min-width: 19em;
  color:rgb(136, 133, 133);
  outline: none !important;
  /* margin: auto; */
  /* display: inline-block; */
}

.submit-button:hover, .hint-button:hover{
  background-color: ivory;
  color:rgb(136, 133, 133);
  border-color: rgba(249, 165, 188, 0.7);
}

.hint-button-container{
  margin:.5rem auto;
}
/* .submit-button-container{
  text-align: right;
} */

.cart-icon-bg{
  background: url(../images/cart-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: bottom;
  font-size: .9rem;
  padding: 2.1rem 1.2rem 0;
  line-height: 1.5;
  border-radius: .75rem;
  font-weight: 600;
  color: deepskyblue;
}

.cart-icon-number{
  display: inline-block;
  font-size: 1rem;
  width: 1.8rem;
  vertical-align: bottom;
  margin:0
}



.success-purchase{
  text-align: center;
  font-size: 1.5rem;
  color: yellowgreen;
  padding: 1rem 0;
  font-weight: 600;
}

.find-more-toys{
  text-align: center;
}

.back-to-home{
  padding: .5rem 1rem;
  color: hotpink;
  text-decoration: none;
  background-color: white;
  border: hotpink 2px solid;
  border-radius: 20px;
  font-weight: 600;
}

.back-to-home:hover{
  background-color: hotpink;
  border:hotpink;
  color:white;
}

.note{
  color:rgb(136, 133, 133);
  text-align: left;
}

.enter-details{
  margin-bottom: auto;
  color:yellowgreen;
}

.errorMessage{
  color:red;
  margin-top: 1rem;
  margin-bottom: auto;
}

.about-image{
  width:100vw;
  /* position:absolute;
  bottom:0; */
}

.about-container{
  height: 100vh;
  color:gray;
}

.shop-contact{
  margin:0 0 0 4rem;
}
/* .row{
  margin: 1rem auto;
} */

.about-welcome{
  margin: 1rem auto;
}

.about-title{
  color:pink;
  text-shadow: lightblue 1px 1px;
  font-weight: 600;
}

.info-window{
  color:orange;
}

.shop-title{
  color:yellowgreen;
  text-shadow: 1px 1px;
  font-weight: 600;
}

.card-background{
  background-color: mistyrose;
  padding: 1rem;
  border: dashed lightgoldenrodyellow;
}

.found-result{
  color:yellowgreen;
  width:100%;
  font-weight: 600;
  padding: 0 1rem;
}

.found-toys-row{
  text-align: left;
  color:yellowgreen;
}

.found-no-toys-row{
  text-align: center;
}


.account-table-header, .update-account{
  border: none;
  font-weight: 600;
  color: orange;
}

.delete-account{
  border: none;
  color: turquoise;
  font-weight: 600;
}

.order-list-image{
  width: 8rem;
  height: 8rem;
  border-style: outset;
  /* margin: 0 3rem 0 0; */
  border-color: ivory;
}

.order-card-body{
  background-color: mistyrose;
  padding: 0 1.25rem;
}

.order-card-header{
  background-color: mistyrose;
  border-bottom: dashed lightblue .3rem;
  cursor: pointer;
}

.order-card-row{
  padding: 1rem 0;
  background-color: mistyrose;
  border-bottom: dashed lightblue .3rem;
}

.account-container{
  margin:1rem auto;
  color: grey;
}

.order-list-product{
  font-weight: 600;
}

.account-title{
  font-weight: 600;
  color: yellowgreen;
}

/* .account-table-header{
  color: hotpink;
} */

.order-card-row p {
  margin-top: .7rem;
  margin-bottom: 0;
}

.order-card-header:hover, .order-card-row:hover{
  background-color: rgba(255, 228, 225, .7);
}

.no-purchase{
  color:hotpink;
  font-weight: 600;
}


.home-title{
  text-align: center;
  font-weight: 600;
}

.home-category-container{
  width: 100%;
  height: 100%;
  color: white;
}


.home-category-01{
  background:pink;
}
.home-category-02{
  background:gold;
}
.home-category-03{
  background:yellowgreen;
}
.home-category-04{
  background:turquoise;
}



.home-category{
  text-align: center;
  position: relative;
  top: 35%;
  font-size: 1.9rem;
}

.home-image{
  width:100%;
  /* height:100%; */
  border: dotted lightgoldenrodyellow;
}

.home-image:hover{
  /* opacity:.8; */
  border:none;
}

.home-newarrivals-image{

}

.home-category-list{
  padding: 1rem;
  /* margin: 0; */
  color: white;
  font-weight: 600;
  border-radius: 2rem;
  text-shadow: 1px 1px darkgrey;
  opacity: .85;
}

.home-category-list:hover{
  opacity:1;
  /* border:dashed; */
}

/* .home-category-list-item{
  max-width: 100%;
  text-align: center;
  color: white;
} */

.carousel-row-top{
  padding: 2rem 0 1rem;
}

.carousel-row-bottom{
  padding: 1rem 0 2rem;
}

.carousel-col-left{
  padding: 0 1rem 0 2rem;
}

.carousel-col-right{
  padding: 0 2rem 0 1rem;
}

.carousel-container{
  background-color: lightsteelblue;
}

.home-category-title{
  color: grey;
  font-weight: 600;
  text-shadow: 1px 1px darkgrey;
  margin:0;
}

.btn-our-story{
  border-radius: 2rem;
  border: #6c757d .1rem solid;
  margin: 1rem;
  color: #6c757d;
}

.home-right-col{
  padding:1rem;
  background-color:lightgrey;
  text-align:center;
  background: url(../images/pinkbubles.gif);
  background-size: contain;
}


.product-name{
  margin-bottom: 1rem;
  color: orange;
}

.product-label{
  color: yellowgreen;
  font-weight: 600;
}

/***************************************/
/* image magnify */
.fluid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: grey;
  /* line-height: 1.3; */
}

.fluid__instructions {
  flex: 0 0 auto;
  margin: 0 20px;
}



@media (min-width: 480px) {
  .fluid {
    flex-direction: row;
    justify-content: flex-end;
  }

  .fluid__image-container{
    flex: 0 0 30%;
    margin: 2rem 1rem 2rem 2rem;
  }

  .fluid__instructions {
    flex: 0 0 50%;
    margin: 2rem 2rem 2rem 1rem;
  }

}
