
.navbar{
  /* background-color: rgb(87, 223, 52) */

}

.dropdown-menu a{
  color: orange;
}
.dropdown-menu a:hover{
  color: white;
}

#category-1{
  background-color: rgb(245, 204, 235);
}
#category-2{
  background-color:rgb(243, 245, 144);
}
#category-3{
  background-color:rgb(173, 244, 94)
}
#category-4{
  background-color:rgb(135, 247, 234);
}

.body-footer{
  text-align: center;
}
.happykids{
  width:80vw;
}

.btn{
  color:white;
}

.btn:hover{
  color:white;
}


.errorMessage{
  color:red;
}
/* .nav-right-links{
  background-color: white;
  color: rgba(0,0,0,.5);
  border: white;
}
.nav-right-links:hover{
  background-color: white;
  color: rgba(0,0,0,.7);
} */


.btn-space{
  margin-right:0.5rem;
}

.cart-icon{
  display: inline-block;
  background-image: url("/images/cart-icon.png");
  background-size: cover;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s
}


#test{
  /* background-color: var(--indigo); */
}

#out-of-stock{
  color:red;
}

#add-to-cart{
  background: var(--pink);
  border-color: var(--pink);
  border-radius: 20px;
  padding: .375rem 3rem;
}
